<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Detail</title>
    <meta content="Your Blog post page description" name="description"/>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo:400,600,700">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link type="image/png" rel="shortcut icon" href="../static/images/favicon.png"th:href="@{/images/favicon.png}">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link type="text/css" rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
</head>
<body id="top">
<div class="page">
    <header>
        <div class="pp-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a href="index.html" th:href="@{/index}">
                        <img src="../static/images/favicon.png" th:src="@{/images/favicon.png}">
                    </a>
                    <a class="navbar-brand" href="index.html" th:href="@{/index}">照片管理</a>
                    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse"
                            type="button"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html" th:href="@{/index}">首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="personal.html"
                                   th:href="@{/personal/index}">我的相册</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="manage-push.html"
                                   th:href="@{/manage/index}">管理</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ydc-column-user" style="margin-left: 20px;">
                        <div class="ydc-user-photo">
                            <a href="javascript:;">
                                <img title="" about="" alt="" src="../static/images/photo.png"
                                     th:src="@{/images/photo.png}">
                            </a>
                        </div>
                        <div class="ydc-user-info">
                            <div class="ydc-user-info-name">
                                <a href="javascript:;">XXX</a>
                            </div>
                            <div class="ydc-user-info-func ydc-flex">
                                <span class="ydc-mal">
                                    <i class="ydc-icon ydc-icon-mail fl"></i>
                                    <em>12</em>
                                </span>
                                <a href="javascript:;">退出</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div class="container">
            <div class="pp-section pp-container-readable">
                <div class="pp-post">
                    <!--                    <a class="h3" href="detail.html" th:text="${item.title}">You can do anything if you believe</a>-->
                    <span class="h3" th:text="${article.title}">你是可以的</span>
                    <div class="pp-post-meta mt-2">
                        <ul>
                            <li><i aria-hidden="true" class="fa fa-calendar-check-o"></i><span
                                    th:text="${article.defaultDateFormat()}">November 04, 2017</span></li>
                            <li><i aria-hidden="true" class="fa fa-tags"></i><span><a href="#"><span>摄影</span></a>,
                                <a href="#"><span>设计</span></a></span></li>
                            <li><i aria-hidden="true" class="fa fa-comments"></i><a href="#pp-comment">讨论</a></li>
                            <li><i aria-hidden="true" class="fa fa-user-circle"></i><a href="#"
                                                                                       th:text="${name}">Admin</a></li>
                        </ul>
                    </div>
                    <img alt="Blog Image" class="img-fluid mt-3" src="../static/images/blog-1.jpg"
                         th:src="@{/resource/image (id = ${article.photoPath})}"/>
                </div>
                <div class="pp-blog-details">
                    <p th:text="${article.detail}">
                        很多内容...
                    </p>
                    <div class="pp-tags">
                        <div class="h6">标签</div>
                        <a class="badge badge-primary" href="#" th:each="tag:${article.defaultTagsFormat()}"
                           th:text="${tag}">自然</a>
                    </div>
                    <div class="op-list">
                        <p id="likeVue" th:attr="class=${article.isLike} ? 'like active' : 'like'">
                            <i class="layui-icon layui-icon-praise" th:v-on:click="|add(${article.shareId}, $event)|"></i>
                            <span th:text="${article.likeNum}">-1</span>
                        </p>
                    </div>
                    <div class="h2">讨论</div>
                    <div class="pp-comments" id="pp-comment" th:each="item:${remarks}">
                        <div class="media">
                            <img alt="Image" class="img-fluid mr-3" src="../static/images/face-5.jpg"
                                 th:src="@{/images/face-5.jpg}"/>
                            <div class="media-body">
                                <div class="h5 mt-0" th:text="${item.name}">Alena</div>
                                <p class="text-muted" th:text="${item.defaultDateFormat()}">Nov 23, 2017 11:45am</p>
                                <p th:text="${item.detail}">I love this</p>
                            </div>
                            <a href="#pp-drop-comment"><i aria-hidden="true" class="fa fa-reply"></i><span>回复</span></a>
                        </div>
                        <!--                        <div class="media pl-5">-->
                        <!--                            <img alt="Image" class="img-fluid mr-3" src="../static/images/face-3.jpg" th:src="@{/images/face-3.jpg}"/>-->
                        <!--                            <div class="media-body">-->
                        <!--                                <div class="h5 mt-0">Jina Sara</div>-->
                        <!--                                <p class="text-muted">Nov 23, 2017 11:48am</p>-->
                        <!--                                <p>Thanks</p>-->
                        <!--                            </div>-->
                        <!--                            <a href="#pp-drop-comment"><i aria-hidden="true" class="fa fa-reply"></i><span>Reply</span></a>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="pp-section"></div>
                <div class="row" id="pp-drop-comment">
                    <div class="col" id="commentVue">
                        <div class="h4 mb-3">写一个评论</div>
                        <div class="row mb-3">
                            <div class="col">
                                <textarea class="form-control" name="message" placeholder="*输入的内容" type="text"
                                          v-model="content"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary" type="submit"
                                        th:v-on:click="|submit(${article.shareId})|">发布评论
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pp-section"></div>
        </div>
    </div>
    <footer class="pp-footer">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-md-12"><a class="pp-facebook btn btn-link" href="#"><i aria-hidden="true"
                                                                                       class="fa fa-facebook fa-2x "></i></a><a
                        class="pp-twitter btn btn-link " href="#"><i aria-hidden="true"
                                                                     class="fa fa-twitter fa-2x "></i></a><a
                        class="pp-google-plus btn btn-link" href="#"><i aria-hidden="true"
                                                                        class="fa fa-google-plus fa-2x"></i></a><a
                        class="pp-instagram btn btn-link" href="#"><i aria-hidden="true"
                                                                      class="fa fa-instagram fa-2x "></i></a></div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script type="text/javascript" src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="../static/js/local.js" th:src="@{/js/local.js}"></script>
<script>
    var commentJS = new Vue({
        el: "#commentVue",
        data: {
            content: ""
        },
        methods: {
            submit: function (shareId) {
                $.ajax({
                    url: "/detail/remark",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "userId": getCookie("userId"),
                        "shareId": shareId,
                        "detail": this.content,
                        "sendDate": new Date().toLocaleDateString()
                    }),
                    success: function () {
                        location.reload();
                    }
                })
            }
        }
    });
    var detailLikeJS = new Vue({
        el: "#likeVue",
        methods: {
            add: function (shareId, event) {
                $.ajax({
                    url: "/detail/like",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "userId": getCookie('userId'),
                        "shareId": shareId,
                    }),
                    success: function (obj) {
                        const node = event.target.parentNode;
                        console.log(obj.isActive);
                        if (obj.isActive) {
                            node.classList.add('active');
                        } else {
                            node.classList.remove('active');
                        }
                        node.children[1].innerHTML = obj.likeCount;                    }
                })
            }
        }
    })
</script>
</body>
</html>