<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Index</title>
    <meta content="Your blog page description" name="description"/>
    <link type="text/css" rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo:400,600,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link type="image/png" rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body id="top">
<div class="page">
    <header>
        <div class="pp-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a href="index.html" th:href="@{/index}">
                        <img src="../static/images/favicon.png" th:src="@{/images/favicon.png}">
                    </a>
                    <a class="navbar-brand" href="index.html" th:href="@{/index}">Photo Manage</a>
                    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse"
                            type="button"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html" th:href="@{/index}">首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="personal.html"
                                   th:href="@{/personal/index}">我的相册</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="manage-push.html"
                                   th:href="@{/manage/index}">管理</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ydc-column-user" style="margin-left: 20px;">
                        <div class="ydc-user-photo">
                            <a href="javascript:;">
                                <img title="" about="" alt="" src="../static/images/photo.png"
                                     th:src="@{/images/photo.png}">
                            </a>
                        </div>
                        <div class="ydc-user-info">
                            <div class="ydc-user-info-name">
                                <a href="javascript:;">XXX</a>
                            </div>
                            <div class="ydc-user-info-func ydc-flex">
                                <span class="ydc-mal">
                                    <i class="ydc-icon ydc-icon-mail fl"></i>
                                    <em>12</em>
                                </span>
                                <a href="javascript:;">退出</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div class="container">
            <div class="pp-section pp-container-readable" th:each="item:${list}">
                <article class="pp-post">
                    <a href="detail.html" th:href="@{/detail/index (shareId = ${item.shareId})}">
                        <img alt="Blog Image" class="img-fluid" src="../static/images/blog-1.jpg"
                             th:src="@{/resource/image (id = ${item.photoPath})}"/>
                    </a>
                    <header class="pp-post-header">
                        <div class="pp-post-title">
                            <a class="h4" href="detail.html" th:href="@{/detail/index (shareId = ${item.shareId})}"
                               th:text="${item.title}">
                                Healthy Meals for Busy Morning
                            </a>
                        </div>
                        <div class="pp-post-meta">
                            <ul>
                                <li><i aria-hidden="true" class="fa fa-calendar-check-o"></i><span
                                        th:text="${item.defaultDateFormat()}">November 04, 2017</span></li>
                                <li><i aria-hidden="true" class="fa fa-tags"></i><span><a href="#"><span>Branding</span></a>, <a
                                        href="#"><span>Design</span></a></span></li>
                                <li><i aria-hidden="true" class="fa fa-comments"></i><a href="#">Comments</a></li>
                            </ul>
                        </div>
                    </header>
                    <div class="pp-post-content">
                        <p th:text="${item.detail}">
                            Whether you've just got a new camera and are looking to learn some new photography
                            techniques
                            or have been shooting for a while and want to master some old ones, this essential
                            photographer's resource is here to help.
                        </p>
                    </div>
                    <div class="op-list">
                        <p class="like" id="likeVue">
                            <i class="layui-icon layui-icon-praise" th:v-on:click="|add(${item.shareId})|"></i>
                            <span th:text="${item.likeNum}">-1</span>
                        </p>
                        <p class="edit">
                            <i class="layui-icon layui-icon-reply-fill"></i>
                            <span th:text="${item.remarkNum}">-1</span>
                        </p>
                    </div>
                    <div class="pp-post-read-more">
                        <a href="detail.html" th:href="@{/detail/index (shareId = ${item.shareId})}">Read More</a>
                    </div>
                </article>
            </div>
            <div class="pp-section" style="text-align: center">
                <el-button-group style="text-align: center;" id="app">
                    <el-button type="primary" icon="el-icon-arrow-left" :disabled="index==1" @click="toPrevPage">上一页</el-button>
                    <el-button type="primary" icon="el-icon-arrow-right"  :disabled="!isHasNextPage" @click="toNextPage">下一页</el-button>
                </el-button-group>
            </div>
        </div>
    </div>
    <footer class="pp-footer">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-md-12"><a class="pp-facebook btn btn-link" href="#"><i aria-hidden="true"
                                                                                       class="fa fa-facebook fa-2x "></i></a><a
                        class="pp-twitter btn btn-link " href="#"><i aria-hidden="true"
                                                                     class="fa fa-twitter fa-2x "></i></a><a
                        class="pp-google-plus btn btn-link" href="#"><i aria-hidden="true"
                                                                        class="fa fa-google-plus fa-2x"></i></a><a
                        class="pp-instagram btn btn-link" href="#"><i aria-hidden="true"
                                                                      class="fa fa-instagram fa-2x "></i></a></div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" th:inline="javascript">
    let app = new Vue({
        el: "#app",
        data: {
            index: [[${index}]],
            isHasNextPage: [[${isHasNextPage}]]
        },
        methods: {
            toPrevPage: function () {
                let willIndex = this.index - 1;
                window.location.href = "http://localhost:8080/index?index=" + willIndex;
            },
            toNextPage: function () {
                let willIndex = this.index + 1;
                window.location.href = "http://localhost:8080/index?index=" + willIndex;
            }
        }
    })
</script>
<script type="text/javascript" src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="../static/js/local.js" th:src="@{/js/local.js}"></script>
<script type="text/javascript">
    layui.config({
        base: '../static/js/'
    }).use(['element', 'laypage', 'jquery', 'menu'], function () {
        element = layui.element, laypage = layui.laypage, menu = layui.menu;
        laypage.render({
            elem: 'page',
            count: 70 //数据总数，从服务端得到
        });
        menu.init();
    })
</script>
<script th:inline="javascript">
    //<![CDATA[
    new Vue({
        el: "#likeVue",
        methods: {
            add: function (shareId) {
                $.ajax({
                    url: "/like",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "userId": getCookie('userId'),
                        "shareId": shareId,
                    }),
                    success: function () {
                        document.getElementById('likeVue').className += ' active';
                    }
                })
            }
        }
    })
    //]]>
</script>
</body>
</html>