<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
    <meta name="sogou_site_verification" content="gI1bINaJcL"/>
    <meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
    <meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="XXX -  让您多懂XXX,XXX，让您多懂XXX的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。">
    <meta name="description" content="XXX -  让您多懂XXX,XXX，让您多懂XXX的常识，在这里，您会看到汽车相关的知识，汽车日常保养，汽车多用小知识，汽车简单维修以及清洗保养等等。。">
    <meta name="author" content="AUI, a-ui.com">
    <meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
    <title>manage-push</title>
    <link type="image/png" rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
    <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link type="text/css" rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}">
    <link type="text/css" rel="stylesheet" href="../static/css/icon.css" th:href="@{/css/icon.css}">
    <link type="text/css" rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <script type="text/javascript" src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript">
        var currentShowCity = 0;
        $(document).ready(function () {
            $("#province").change(function () {
                $("#province option").each(function (i, o) {
                    if ($(this).attr("selected")) {
                        $(".city").hide();
                        $(".city").eq(i).show();
                        currentShowCity = i;
                    }
                });
            });

            $("#province").change();
        });

        function getSelectValue() {
            alert("1级=" + $("#province").val());
            $(".city").each(function (i, o) {
                if (i == currentShowCity) {

                    alert("2级=" + $(".city").eq(i).val());
                }
            });
        }
    </script>
</head>
<body>
<!-- head YDC begin -->
<header class="ydc-header" id="head">
    <div class="ydc-entered">
        <div class="ydc-header-content ydc-flex">
            <div class="ydc-column">
                <a href="index.html" class="ydc-column-ydc-logo">
                    <img src="admin/images/icon/ydc-logo.png" title="" about="" alt="">
                </a>
            </div>
            <div class="ydc-column">
                <div class="ydc-column-user">
                    <div class="ydc-user-photo">
                        <a href="javascript:;">
                            <img src="../static/images/photo.png" title="" about="" alt="" th:src="@{/images/photo.png}">
                        </a>
                    </div>
                    <div class="ydc-user-info">
                        <div class="ydc-user-info-name">
                            <a href="javascript:;" th:text="${name}">XXX</a>
                        </div>
                        <div class="ydc-user-info-func ydc-flex">
                            <span class="ydc-mal"></span>
                            <el-button size="mini" @click="quit">退出</el-button>
<!--                            <a href="javascript:;">退出</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- head YDC end -->

<!-- content YDC begin -->
<section>
    <div class="ydc-content-slide ydc-body">
        <div class="ydc-flex">
            <!-- left begin -->
            <div class="ydc-column ydc-column-2">
                <div class="ydc-menu">
                    <ul>
                        <li class="ydc-menu-item">
                            <a href="index.html" class="" th:href="@{/index}">
                                <i class="ydc-icon ydc-icon-home fl"></i>
                                首页
                            </a>
                        </li>
                        <li class="ydc-menu-item">
                            <a href="#" class="active">
                                <i class="ydc-icon ydc-icon-find fl"></i>
                                发布
                            </a>
                        </li>
                        <li class="ydc-menu-item">
                            <span class="ydc-menu-sub-title">
                                <i class="ydc-icon ydc-icon-file fl"></i>
                                管理
                            </span>
                            <ul>
                                <li>
                                    <a href="manage-friend.html" th:href="@{/manage/friend/index}">好友</a>
                                </li>
                                <li>
                                    <a href="manage-tag.html" th:href="@{/manage/tag/index}">标签</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ydc-menu-item">
                            <span class="ydc-menu-sub-title">
                                <i class="ydc-icon ydc-icon-set fl"></i>
                                设置

                            </span>
                            <ul>
                                <li>
                                    <a href="info.html" th:href="@{/manage/info/index}">账号信息</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- left end -->
            <!-- right begin -->
            <div class="ydc-column ydc-column-8" id="publishVue">
                <div class="ydc-release-content">
                    <div class="ydc-tabPanel ydc-tabPanel-release">
                        <div class="ydc-release-tab-head">
                            <ul>
                                <li class="hit">发布文章</li>
                            </ul>
                        </div>
                        <div class="ydc-panes">
                            <div class="ydc-pane" style="display:block;">
                                <div class="ydc-release-form-group ">
                                    <div class="ydc-warning-default">
                                        <p>标题字数需在11字到30字之间。</p>
                                    </div>
                                    <div class="ydc-release-form-group-input">
                                        <input type="text" class="ydc-form-control" title=""
                                               placeholder="请输入标题，为了更好的展示效果，建议标题字数在30个汉字以内"
                                               onkeyUp="textLimitCheck(this, 30);" v-model="title">
                                        <div class="ydc-form-group-jl">
                                            <span id="messageCount">0</span>
                                            /30
                                        </div>
                                    </div>
                                </div>
                                <div class="ydc-release-form-text">
                                    <h4>文章内容</h4>
                                    <textarea id="textarea" type="text" style="width: 100%;" v-model="detail" placeholder="请输入内容"></textarea>
                                </div>
                                <div class="ydc-form-city">
                                    <div class="aui-card-form-item">
                                        <label class="aui-card-form-label">标签:</label>
                                        <input type="text" class="ydc-form-control" title=""
                                               placeholder="多个标签请用英文;隔开"
                                               onkeyUp="textLimitCheck(this, 30);" v-model="tags">
                                    </div>
                                    <div class="aui-card-form-item preview  aui-news">
                                        <label class="aui-card-form-label">封面:</label>
                                        <div class="aui-file-up-img" id="preview_0">
                                            <img class="" id="imghead_0" border="0"
                                                 src="../static/images/noimg.gif" th:src="@{/images/noimg.gif}">
                                        </div>
                                        <div class="aui-file-up-btn clearfix ">
                                            <div class="idPicFile aui-btn aui-file-new">
                                                <input type="file" name="file" id="1"
                                                       class="file_photo aui-file-new-up" style="margin:0;"
                                                       ref="image"
                                                       @change="publishImage">
                                                <a>上传图片</a>
                                            </div>
                                            <div class="aui-remarks">
                                                <p>图片尺寸建议：800*400 图片大小不超过1MB</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ydc-btn">
                                        <button class="btn" th:v-on:click="publishArticle">发布</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ydc-pane">
                                <div class="ydc-release-form-group ">
                                    <div class="ydc-warning-default">
                                        <p>标题字数需在11字到30字之间。</p>
                                    </div>
                                    <div class="ydc-release-form-group-input clearfix">
                                        <label class="ydc-form-group-label">标题</label>
                                        <input style="width:89.999%" type="text" class="ydc-form-control" title=""
                                               placeholder="请输入标题，为了更好的展示效果，建议标题字数在30个汉字以内"
                                               onkeyUp="textLimitCheck(this, 30);">
                                        <div class="ydc-form-group-jl">
                                            <span id="messageCount1">0</span>/30
                                        </div>
                                    </div>
                                    <div class="ydc-release-form-group-input ydc-release-form-group-ms clearfix">
                                        <label class="ydc-form-group-label">描述</label>
                                        <input style="width:89.999%" type="text" class="ydc-form-control" title=""
                                               placeholder="请输入描述，统一描述" onkeyUp="textLimitCheck(this, 30);">
                                        <div class="ydc-form-group-jl">
                                            <span id="messageCount2">0</span>/30
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right end -->
        </div>
    </div>
</section>
<!-- content YDC end -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../static/js/local.js" th:src="@{/js/local.js}"></script>
<script type="text/javascript">
    new Vue({
        el:"#head",
        methods: {
            quit: function () {
                var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
                if (keys) {
                    for (var i = keys.length; i--;) {
                        document.cookie = keys[i] + '=0;path=/;expires=' + new Date(0).toUTCString();//清除当前域名下的,例如：m.kevis.com
                        document.cookie = keys[i] + '=0;path=/;domain=' + document.domain + ';expires=' + new Date(0).toUTCString();//清除当前域名下的，例如 .m.kevis.com
                        document.cookie = keys[i] + '=0;path=/;domain=kevis.com;expires=' + new Date(0).toUTCString();//清除一级域名下的或指定的，例如 .kevis.com
                    }
                }
                console.log('已清除');
                location.href = "http://localhost:8080/index";
            }
        }
    });
    var k = new Vue({
        el: "#publishVue",
        data: {
            title: null,
            detail: "no data",
            tags: null,
            show: 1,
            photoPath: null
        },
        methods: {
            publishImage: function () {
                let file = this.$refs.image.files[0];
                const myFormData = new FormData()
                myFormData.append('image', file)
                $.ajax({
                    url: "/resource/upload",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: myFormData,
                    success: function (photoPath) {
                        k.photoPath = photoPath;
                        console.log(photoPath);
                    }
                });
            },
            publishArticle: function () {
                if (this.title == null || this.title == "") {
                    layer.open({
                        title: "错误",
                        content: "请输入标题"
                    });
                    return;
                } else if (this.detail == null || this.detail == "") {
                    layer.open({
                        title: "错误",
                        content: "请输入内容"
                    });
                    return;
                } else if (this.photoPath == null) {
                    layer.open({
                        title: "错误",
                        content: "请先上传图片"
                    });
                    return;
                }
                $.ajax({
                    url: "/manage/publish",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "userId": getCookie('userId'),
                        "title": this.title,
                        "sendDate": new Date().toLocaleDateString(),
                        "detail": this.detail,
                        "tags": this.tags,
                        "show": this.show,
                        "photoPath": this.photoPath
                    }),
                    success: function (result) {
                        layer.open({
                            title: "",
                            content: result.describe,
                            skin: "color: " + result.color
                        });
                    }
                });
            }
        }
    })
</script>
<script type="text/javascript" src="../static/js/nicEdit.js" th:src="@{/js/nicEdit.js}"></script>
<script type="text/javascript" src="../static/js/upImg.js" th:src="@{/js/upImg.js}"></script>
<script type="text/javascript">

    jQuery(function () {
        upload_start();
    });
    //tab切换
    $(function () {
        $('.aui-ad-tab-title ul li').click(function () {
            $(this).addClass('aui-current').siblings().removeClass('aui-current');
            $('.aui-ad-tab-body>div:eq(' + $(this).index() + ')').show().siblings().hide();
        })
    });

</script>
<script type="text/javascript">

    bkLib.onDomLoaded(function () {
        nicEditors.allTextAreas()
    });//编辑器

</script>
<script type="text/javascript">

    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // AD滚动时间
    }

</script>
<script type="text/javascript">

    $(function () {
        $('.ydc-tabPanel ul li').click(function () {
            $(this).addClass('hit').siblings().removeClass('hit');
            $('.ydc-panes>div:eq(' + $(this).index() + ')').show().siblings().hide();
        })
    })//tab

</script>
<script type="text/javascript">

    function textLimitCheck(thisArea, maxLength) {
        if (thisArea.value.length > maxLength) {
            alert(maxLength + ' 个字限制. \r超出的将自动清除.');
            thisArea.value = thisArea.value.substring(0, 30);
            thisArea.focus();
        }
        messageCount.innerText = thisArea.value.length;
        messageCount1.innerText = thisArea.value.length;
        messageCount2.innerText = thisArea.value.length;
    }//标题输入框字数限制

</script>
</body>
</html>
