<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div id="lc-home">
        <div id="lc-head">
            <nav>
                <ul th:each="list:${titleLeftList}">
                    <li>
                        <a th:href="list.href" th:text="list.text"></a>
                    </li>
                </ul>
                <div>
                        <span>
                            <img th:src="@{${image}}" }>
                        </span>
                </div>
            </nav>
        </div>
        <div id="lc-content">
            <div><!--上下间隔-->
                <div><!--左间隔-->
                    <div><!--left-->
                        <picture>
                            <source>
                            <img th:src="@{${image}}">
                        </picture>
                        <div th:text="${name}"></div>
                    </div>
                </div>
                <div><!--左间隔-->
                    <div><!--middle-->
                        <section>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"
                                     fill="currentColor" class="css-1rhb60f-Svg ea8ky5j0">
                                    <path fill-rule="evenodd"
                                          d="M17 2H7a3 3 0 00-3 3v14a3 3 0 003 3h10a3 3 0 003-3V5a3 3 0 00-3-3zM6 5a1 1 0 011-1h10a1 1 0 011 1v14a1 1 0 01-1 1H7a1 1 0 01-1-1V5zm2 5a1 1 0 011-1h6a1 1 0 110 2H9a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H9z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span>个人资料</span>
                            </div>
                            <div class="css-b5fmf9-EditingContainer efy3t4u10">
                                <div class="css-1xf0vl6-TitleContainer efy3t4u11">
                                    <div class="css-lf4ad0-Title efy3t4u1">编辑个人资料</div>
                                </div>
                                <form id="personal-data" class="ant-form ant-form-vertical ant-form-hide-required-mark">
                                    <div class="ant-row" style="margin-left: -14px; margin-right: -14px;">
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-col ant-form-item-label"><label
                                                        for="personal-data_nickName" class="ant-form-item-required"
                                                        title="昵称">昵称</label></div>
                                                <div class="ant-col ant-form-item-control">
                                                    <div class="ant-form-item-control-input">
                                                        <div class="ant-form-item-control-input-content"><input
                                                                placeholder="请输入一个昵称" type="text"
                                                                id="personal-data_nickName"
                                                                class="ant-input css-o7z221-inputStyle-Input evdtdqh0"
                                                                value="慎活宝"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-col ant-form-item-label"><label
                                                        for="personal-data_realName" class="" title="">真实姓名
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                         width="1em" height="1em" fill="currentColor"
                                                         class="css-14n1h8l css-1rhb60f-Svg ea8ky5j0">
                                                        <path fill-rule="evenodd"
                                                              d="M12 13.5a1 1 0 01-1-1v-4a1 1 0 112 0v4a1 1 0 01-1 1zm0 3a1 1 0 110-2 1 1 0 010 2zm0 5.5C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 100-16 8 8 0 000 16z"
                                                              clip-rule="evenodd"></path>
                                                    </svg>
                                                </label></div>
                                                <div class="ant-col ant-form-item-control">
                                                    <div class="ant-form-item-control-input">
                                                        <div class="ant-form-item-control-input-content"><input
                                                                placeholder="请输入你的姓名（选填）" type="text"
                                                                id="personal-data_realName"
                                                                class="ant-input css-o7z221-inputStyle-Input evdtdqh0"
                                                                value="曾嘉俊"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ant-row" style="margin-left: -14px; margin-right: -14px;">
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-col ant-form-item-label"><label
                                                        for="personal-data_gender" class="ant-form-item-required"
                                                        title="性别">性别</label></div>
                                                <div class="ant-col ant-form-item-control">
                                                    <div class="ant-form-item-control-input">
                                                        <div class="ant-form-item-control-input-content">
                                                            <div class="css-15w5vua-Container enp9jk40">
                                                                <div data-value="MALE"
                                                                     color="rgba(var(--dsw-primary-standard-rgb), 1)"
                                                                     class="css-bcfbj1-Option enp9jk41">男
                                                                </div>
                                                                <div data-value="FEMALE"
                                                                     color="rgba(var(--dsw-red-standard-rgb), 1)"
                                                                     class="css-ptgfuz-Option enp9jk41">女
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-col ant-form-item-label"><label
                                                        for="personal-data_globalLocation" class=""
                                                        title="居住地">居住地</label></div>
                                                <div class="ant-col ant-form-item-control">
                                                    <div class="ant-form-item-control-input">
                                                        <div class="ant-form-item-control-input-content">
                                                            <div class="css-we4n5v-inputStyle-layer1-dropdown-Container e1r4n150">
                                                                <span class="ant-cascader-picker" tabindex="0"><span
                                                                        class="ant-cascader-picker-label">中国 / 广东 / 中山</span><input
                                                                        autocomplete="off"
                                                                        id="personal-data_globalLocation" tabindex="-1"
                                                                        class="ant-input ant-cascader-input "
                                                                        readonly="" type="text" value=""><span
                                                                        role="img" aria-label="close-circle"
                                                                        tabindex="-1"
                                                                        class="anticon anticon-close-circle ant-cascader-picker-clear"><svg
                                                                        viewBox="64 64 896 896" focusable="false"
                                                                        data-icon="close-circle" width="1em"
                                                                        height="1em" fill="currentColor"
                                                                        aria-hidden="true"><path
                                                                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 01-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z"></path></svg></span><svg
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 24 24" width="1em" height="1em"
                                                                        fill="currentColor"
                                                                        class="ant-cascader-picker-arrow css-1rhb60f-Svg ea8ky5j0"><path
                                                                        fill-rule="evenodd"
                                                                        d="M4.929 7.913l7.078 7.057 7.064-7.057a1 1 0 111.414 1.414l-7.77 7.764a1 1 0 01-1.415 0L3.515 9.328a1 1 0 011.414-1.414z"
                                                                        clip-rule="evenodd"></path></svg></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ant-row" style="margin-left: -14px; margin-right: -14px;">
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-col ant-form-item-label"><label
                                                        for="personal-data_birthday" class="ant-form-item-required"
                                                        title="出生日期">出生日期</label></div>
                                                <div class="ant-col ant-form-item-control">
                                                    <div class="ant-form-item-control-input">
                                                        <div class="ant-form-item-control-input-content">
                                                            <div class="css-we4n5v-inputStyle-layer1-dropdown-Container e1r4n150">
                                                                <span class="ant-cascader-picker" tabindex="0"><span
                                                                        class="ant-cascader-picker-label">1999-9</span><input
                                                                        autocomplete="off" id="personal-data_birthday"
                                                                        tabindex="-1"
                                                                        class="ant-input ant-cascader-input "
                                                                        readonly="" type="text" value=""><span
                                                                        role="img" aria-label="close-circle"
                                                                        tabindex="-1"
                                                                        class="anticon anticon-close-circle ant-cascader-picker-clear"><svg
                                                                        viewBox="64 64 896 896" focusable="false"
                                                                        data-icon="close-circle" width="1em"
                                                                        height="1em" fill="currentColor"
                                                                        aria-hidden="true"><path
                                                                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 01-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z"></path></svg></span><svg
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 24 24" width="1em" height="1em"
                                                                        fill="currentColor"
                                                                        class="ant-cascader-picker-arrow css-1rhb60f-Svg ea8ky5j0"><path
                                                                        fill-rule="evenodd"
                                                                        d="M4.929 7.913l7.078 7.057 7.064-7.057a1 1 0 111.414 1.414l-7.77 7.764a1 1 0 01-1.415 0L3.515 9.328a1 1 0 011.414-1.414z"
                                                                        clip-rule="evenodd"></path></svg></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-col ant-form-item-label"><label
                                                        for="personal-data_phone" class="" title="手机号">手机号</label></div>
                                                <div class="ant-col ant-form-item-control">
                                                    <div class="ant-form-item-control-input">
                                                        <div class="ant-form-item-control-input-content">
                                                            <div class="css-8i2j8x-Container e15syi4x0">
                                                                <div class="css-nwqf64-CountryCode e15syi4x2">
                                                                    <div class="css-1aa096j-CountryCodeInner e15syi4x1">
                                                                        +86
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 24 24" width="1em"
                                                                             height="1em" fill="currentColor"
                                                                             class="css-1prekdp-Svg ea8ky5j0">
                                                                            <path fill-rule="evenodd"
                                                                                  d="M12.692 15.364a1 1 0 01-1.464-.006l-4.8-5.199a.5.5 0 01.366-.839h10.412a.5.5 0 01.364.842l-4.878 5.202z"
                                                                                  clip-rule="evenodd"></path>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <input disabled="" type="text"
                                                                       class="ant-input ant-input-disabled css-o7z221-inputStyle-Input evdtdqh0"
                                                                       value="15917245195"><a
                                                                    class="css-ryx5f5-ActionContainer e15syi4x3"
                                                                    href="/profile/account/">修改</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ant-row" style="margin-left: -14px; margin-right: -14px;">
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-col ant-form-item-label"><label
                                                        for="personal-data_email" class="ant-form-item-required"
                                                        title="邮箱">邮箱</label></div>
                                                <div class="ant-col ant-form-item-control">
                                                    <div class="ant-form-item-control-input">
                                                        <div class="ant-form-item-control-input-content"><input
                                                                placeholder="请输入邮箱" type="text" id="personal-data_email"
                                                                class="ant-input css-o7z221-inputStyle-Input evdtdqh0"
                                                                value="2548795196@qq.com"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ant-col ant-col-12"
                                             style="padding-left: 14px; padding-right: 14px;"></div>
                                    </div>
                                    <div class="ant-row ant-form-item">
                                        <div class="ant-col ant-form-item-label"><label for="personal-data_aboutMe"
                                                                                        class=""
                                                                                        title="编辑个人介绍">编辑个人介绍</label>
                                        </div>
                                        <div class="ant-col ant-form-item-control">
                                            <div class="ant-form-item-control-input">
                                                <div class="ant-form-item-control-input-content">
                                                    <div class="css-1r37lx-inputStyle-TextareaContainer e1scd4t1">
                                                        <textarea placeholder="简短介绍一下自己的能力特长和优势" maxlength="100"
                                                                  id="personal-data_aboutMe"
                                                                  class="css-xw0868-TextareaEle e1scd4t0">&lt;(￣ c￣)y▂ξ</textarea>
                                                        <div class="css-4arw2i-Count e1scd4t2">10/100</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="css-uf1was-ButtonContainer efy3t4u12">
                                    <button class="evjpzb04 css-1abf36q-BaseButtonComponent-DefaultButton ery7n2v0">
                                        <span>取消</span></button>
                                    <button class="evjpzb02 css-7phnsc-BaseButtonComponent-PrimaryButton ery7n2v0">
                                        <span>保存</span></button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>